//Variablat
//Fonts

$openSans: "Open Sans";
$montserrat: "Montserrat";
$sourceSans: "Source Sans Pro";

//Structure
$boxShadow: 0 0 2px 1px hsla(0, 0%, 0%, 0.226);
//Colors
$projectsFontColor: #2C4058;
$sectionBlue: #55B7FF;
$sectionViolet: #7E5AFF;