.footer {
    position: relative;
    background-image:linear-gradient(215deg, rgba(126, 90, 255, 0.8), rgba(85, 183, 255, 0.8)),
    url('../../assets/images/footer-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-container {
        padding: 200px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        &__social {
            img {
                padding: 10px;
            }
            @include mobile {
                padding-top: 20px;
                margin-bottom: -100px;
            }
        }
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
        &__copyright {
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
                padding-top: 40px;
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: #FFFFFF;
                @include mobile {
                    margin: 0 auto;
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
    }
    &-subscribe {
        margin-bottom: -400px;
    }
}
.footer-subscribe__box {
    hr {
        margin-top: 60px;
    }
    h1 {
        text-align: center;
    }
    position: relative;
    bottom: 220px;
    margin: auto;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    background-color: white;
    div {
        display: flex;
        padding-top: 45px;
        margin-bottom: 150px;
        @include mobile {
            flex-direction: column;
            align-items: center;
            width: 90%;
            padding: 0;
            form, input {
                width: 100%;
                margin: 0 auto;
                float: unset;
            }
        }
    }
    p {
        font-family: 'Source Sans Pro';
        padding-top: unset;
        color: black;
    }
    &--info {
        @include mobile {
            padding: 60px 0 20px;
        }
        li {
            display: flex;
            align-items: center;
            &:not(:first-of-type) {
                padding: 20px 0;
            } &:first-of-type {
                padding-bottom: 20px;
            }
            img {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
        }
        span {
            font-size: 3em;
        }
    }
    &--input {
        padding-top: 0 !important;
        padding-left: 50px;
        input {
            font-family: $montserrat;
            padding: 10px;
            border: none;
            border-bottom: 1px solid rgb(207, 207, 207);
            transition: 0.15s all ease-in-out;
            &:focus {
                outline: none;
                border-bottom: 1px solid $projectsFontColor;
            }
        }
        button {
            float: right;
            margin-top: 30px;
            padding: 10px 20px;
            background: none;
            outline: none;
            border: 1px solid $projectsFontColor;
            @include mobile {
                width: 100%;
                margin: 0 auto;
                float: unset;
                margin-top: 23px;
            }
            transition: 0.2s all ease-in-out;
            &:hover {
                cursor: pointer;
                background-color: $projectsFontColor;
                color: white;
            }
        }
    }
    @include mobile {
        max-height: 580px;
    }
}