//silence-is-golden

body {
   font-family: $openSans;
}

a {
   text-decoration: none;
   color: unset;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
}

hr {
    width: 100px;
    margin-bottom: 30px;
    border: 1px solid $projectsFontColor;
}

/* NAVBAR */

.navigation-bar {
    font-family: $sourceSans;
    font-weight: 400;
    font-size: 0.87rem;
    color: white;
    position: absolute;
    top: 53px;
    right: 50%;
    transform: translateX(50%);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__links {
        padding: 0 50px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
            padding: 0 40px;
            &:first-of-type {
                width: 164px;
                padding: 0 20px 0 40px;
            }
            span {
                border: 1px solid white;
                border-radius: 50%;
                background-color: none;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 14px;
            }
        }
    }
    &__logo--links {
        display: flex;
        img {
            padding: 0 10px;
        }
    }
    @include max-big-tablet {
        &__links, &__logo--links{
            display: none;
        }
    }
}

/* CAROUSEL SECTION */

.hero-section--carousel {
    background: linear-gradient(217deg, rgb(126 90 255 / 81%),rgb(82 183 255) 70.71%);
    height: 100vh;
    .owl-carousel {
        &, .slider-image img {
            height: 100vh;
            object-fit: cover;
        }
        .item:not(#first) {
            opacity: 0.07;
        }
        .owl-nav {
            display: none;
        }
        .owl-stage-outer:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 2;
        }
    }
    .owl-dots {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        span {
            margin: 20px 0 !important;
        }
    }
    &__title {
        font-family: $montserrat;
        font-style: normal;
        color: white;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        h1 {
            font-weight: bold;
            font-size: 5rem;
            letter-spacing: 0.1em;
        }
        h3 {
            padding-top: 30px;
            font-weight: normal;
            font-size: 1.12rem;
            letter-spacing: 0.3em;
        }
        @include mobile {
            font-size: smaller;
        }
    }
}

.owl-dots {
    button {
        &:focus {
            outline: none;
        }
    }
    .owl-dot {
        span {
            background: none !important;
            border: 1px solid white !important;
            border-collapse: separate !important;
            perspective: 1px !important;
            border-radius: 30px !important;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.294);
        }
        &.active span {
            background-color: white !important;
        }
    }
}

/* PROJECTS SECTION */

.projects-section {
   position: relative;
   padding-top: 110px;
   .section-title {
      padding-bottom: 20px;
   }
   &__title {
      text-align: center;
      padding-bottom: 200px;
   }
   &__project {
      display: flex;
      justify-content: space-between;
      &--left {
         position: relative;
         span {
            display: inline-block;
            width: 585px;
            height: 470px;
            background-color: $sectionBlue;
            position: absolute;
            left: -40%;
            top: -10%;
            z-index: 0;
         }
         img {
            z-index: 1;
            position: relative;
         }
      }
      &--right {
         width: 40%;
         .location {
            display: flex;
            align-items: center;
            p {
               padding-left: 10px;
               color: black;
               font-size: 15px;
               font-style: italic;
               font-family: $openSans;
            }
         }
      }
      &:last-of-type {
         margin-top: 140px;
         flex-direction: row-reverse;
         span {
            left: 40%;
            background-color: $sectionViolet;
         }
         .projects-section__project--right {
            width: 42%;
            @include projects-responsive {
                width: 100%;
                padding: 20px;
            }
         }
         @include max-small-tablet {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            a {
                margin: auto;
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .location {
                margin: auto;
                display: flex;
                justify-content: center;
            }
        }
        }
      }
      @include projects-responsive {
          width: 100%;
          flex-direction: column;
          span {
              display: none;
          }
      }
      @include max-small-tablet {
          &--right {
              width: 100%;
              a {
                  margin: auto;
                  margin-top: 40px;
                  margin-bottom: 40px;
              }
              .location {
                  margin: auto;
                display: flex;
                justify-content: center;
              }
          }
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
      }
   overflow: hidden;
}

.section-title {
   text-transform: uppercase;
   font-family: $montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 2.75em;
}

.section-tagline {
   text-transform: uppercase;
   font-family: $montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   padding-bottom: 10px;
}

.section-paragraph {
   font-family: $openSans;
   font-style: normal;
   font-weight: normal;
   font-size: 1.12rem;
   line-height: 167%;
   color: $projectsFontColor;
}

.section-button {
   text-transform: uppercase;
   font-style: normal;
   font-weight: normal;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 190px;
   height: 50px;
   font-size: 14px;
   margin: 30px 0 60px;
   color: black;
   background: white;
   border: 1px solid $projectsFontColor;
}

/* MAP SECTION */

.maps-section {
    height: 100vh;
    #map {
        height: 100%;
    }
}